.advantage{
  width: 320px;
  margin: 0 auto;
}

.advantage__slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
}

.advantage__description {
  font-size: 14px;
  font-weight: normal;
}
