.foto-users {
  list-style: none;
  padding-right: 20px;
}

.foto-users__item {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.foto-users__item:nth-last-of-type(1) {
  margin-bottom: 0;
}

.foto-users__top {
  max-width: none;
  margin-left: -20px;
}

.foto-users__name {
  display: block;
  margin-top: -2px;
  padding-left: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

.foto-users__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.foto-users__like {
  display: inline-flex;
  align-items: center;
  margin-left: 18px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
}

.foto-users__like svg {
  margin-top: 2px;
  margin-right: 18px;
}

.foto-users__text {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.foto-users__info {
  margin: 0;
  padding: 0;
}

.foto-users__picture--top {
  position: relative;
}

.foto-users__picture--top {
  &::before {
  position: absolute;
  content: "";
  width: 140px;
  height: 36px;
  top: 0;
  right: 0;
  background-color: @pink;
  }
  &::after {
    position: absolute;
    content: "ПАНОРАМА ДНЯ";
    color: @white;
    font-size: 13px;
    top: 6px;
    right: 19px;
  }
}

@media (min-width: @tablet-width) {
  .foto-users {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .foto-users__item {
    min-height: 455px;
  }
  .foto-users__name {
    margin-top: 3px;
    padding-left: 27px;
  }
  .foto-users__text {
    padding-left: 28px;
    margin-bottom: 60px;
  }
  .foto-users__info {
    position: relative;
  }
  .foto-users__like {
    position: absolute;
    top: 408px;
    left: 10px;
    & svg {
      position: absolute;
      top: 5px;
      left: 228px;
    }
  }
  .foto-users__top {
    width: 700px;
    height: 509px;
    margin-top: -14px;
    margin-left: -40px;
  }
  .foto-users__item {
    width: 300px;
  }
  .foto-users__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .foto-users__item:nth-child(1) {
    width: 620px;
    margin-bottom: 50px;
  }
  .foto-users__item:nth-last-of-type(1) {
    margin-bottom: 21px;
  }
  .foto-users__like--top {
    top: 530px;
    left: 252px;
    flex-direction: row-reverse;
    width: 300px;
    order: 3;
    margin-left: 9px;
    margin-top: 3px;
    & svg {
      left: 300px;
      margin-left: 17px;
    }
  }
  .foto-users__text--top {
    margin-top: 0;
    margin-left: -1px;
    margin-bottom: 26px;
    order: 4;
  }
  .foto-users__name--top {
    width: 300px;
    margin-top: 3px;
    padding-left: 28px;
  }
  .foto-users__info--top {
    flex-direction: row;
  }
  .foto-users__picture--top {
    width: @tablet-width;
  }
  .foto-users__image {
    width: 300px;
    height: 300px;
    margin-top: -14px;
    &--road {
      height: 400px;
      margin-top: 55px;
      margin-bottom: 13px;
    }
  }
  .foto-users__picture--top {
    &::before {
      content: "";
      position: absolute;
      top: 43px;
      right: 40px;
    }
    &::after {
      top: 48px;
      right: 58px;
    }
  }
}
@media (min-width: @desktop-width) {
  .foto-users {
    width: 980px;
    overflow: visible;
  }

  .foto-users__item {
    margin-bottom: 53px;
    min-height: 555px;
  }
  .foto-users__top {
    width: 1200px;
    height: 506px;
    margin-left: -130px;
  }
.foto-users__like {
  top: 507px;
  &--top {
    flex-direction: row;
    top: 526px;
    left: 780px;
  }
}
.foto-users__like--top svg {
  left: 90px;
}
  .foto-users__item:nth-child(1) {
    width: 940px;
  }
  .foto-users__picture--top {
    width: @desktop-width;
  }
  .foto-users__name--top {
    width: 450px;
  }
  .foto-users__like--top {
    width: 450px;
  }
  .foto-users__image {
    height: 400px;
  }
  .foto-users__picture::after {
    top: 45px;
    right: 147px;
  }
  .foto-users__picture::before {
    top: 40px;
    right: 130px;
  }
  .foto-users__item:nth-last-of-type(1) {
    margin-bottom: 53px;
  }

}
