.foto__text {
  font-size: 24px;
  font-weight: 300;
  text-align: left;

}
.foto__slogan {
  line-height: 2.14;
  text-align: center;
}

.foto-users__name {
  font-weight: bold;
  text-align: left;
}

.foto-users__time {
  font-size: 12px;
  font-weight: 300;
}

.foto-users__like {
  font-size: 12px;
  text-align: left;
}

.foto-users__text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
