.foto {
  width: 320px;
  margin: 0 auto;
  background-color: @white;
}

.foto__text {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.foto__slogan {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 49px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.14;
  text-align: center;
}

.foto__list {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .foto {
    width: @tablet-width;
  }

  .foto__slogan {
    width: 440px;
    font-size: 18px;
    line-height: 1.67;
    margin-top: 93px;
    margin-bottom: 75px;
  }

  .foto__text {
    width: 355px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .foto {
    width: @desktop-width;
  }

  .foto__slogan {
    width: 600px;
    margin-bottom: 87px;
  }

  .foto__list {
    margin: 0 auto;
    margin-bottom: -24px;
  }

  .foto__text {
    padding-left: 275px;
    padding-right: 275px;
  }
}
