.header {
  width: 320px;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
}

@media (min-width: @tablet-width) {
  .header {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .header {
    display: flex;
    width: @desktop-width;
  }
}
