.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
  }
  .main-nav__list {
    margin-left: 175px;
  }
  .main-nav__toggle {
    display: none;
  }
}
