.main-form {
  width: 320px;
  margin: 0 auto;
}
.main-form__slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}
.main-form__text {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}
