.main-form {
  width: 320px;
  margin: 0 auto;
  background-color: @white;
  box-shadow: 0 10px 11px 0 #cccccc;
}

.main-form .main-form__slogan {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 52px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}

.main-form__text {
  width: 285px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  &-two {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-form {
    width: @tablet-width;
  }

  .main-form .main-form__slogan {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    font-size: 50px;
    line-height: 60px;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .main-form__text {
    width: 500px;
    margin-top: 92px;
    margin-bottom: 58px;
    font-size: 18px;

    &-two {
      display: block;
      font-size: 18px;
      font-style: normal;
      text-align: center;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    width: @desktop-width;
    margin: 0 auto;
  }

  .main-form .main-form__slogan {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 99px;
  }

  .main-form__text {
    width: 756px;
    text-align: left;

    &-two {
      display: initial;
    }

    &-modify {
      margin-left: 118px;
    }
  }
}
