.reviews {
  width: 320px;
  margin: 0 auto;
  background-color: @white;
  padding-top: 30px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  font-weight: bold;
  margin: auto;

}

.reviews__text {
  line-height: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__info {
  display: none;
}

.reviews__toggles {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: @tablet-width;
    padding-top: 80px;
  }
  .reviews__text {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .reviews__author-name {
    font-size: 20px;
    order: 1;
  }
  .reviews__info {
    display: block;
    text-align: center;
    order: 2;
  }
}
@media (min-width: @desktop-width) {
  .reviews {
    width: @desktop-width;
    padding-top: 180px;
  }
  .reviews__text {
    width: 690px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
