.site-list__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  text-align: center;
  list-style: none;
}

.site-list__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;

  &:hover {
    color: @pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    margin-left: 80px;
    font-weight: normal;
  }

  .site-list__item--first {
    margin-left: 0;
  }

  .site-list__link {
    text-transform: none;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 51px;
    right: 0;
    background-color: @white;
  }
}
