.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  text-align: center;
  list-style: none;
}

.site-list__link {
  color: #ffffff;
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
  }
}
